/*.h1 {
    background-color: rgb(70, 43, 226) ; text-align: center; text-emphasis-color: blue;

}

      .navbar {
        height: 12px;
        background-color: aqua;
        color: blue;
      }
      .right {
        background-color: green;
        height: 40vh;
      }
      .left {
        background-color: blueviolet;
        height: 40vh;
      } */
       

      
